.stack {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
}

.stack-row {
    flex-direction: row;
}

.stack-column {
    flex-direction: column;
}